<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @user.account_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user.comment %>
</p>

<p>
  <strong>Delete flag:</strong>
  <%= @user.delete_flag %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
